$primarycolor: #fcdb03;
$secondarycolor: #e0c305;
$inputcarycolor: #d3d9e8;
$successcolor: #0ceb0f;
$blueColor: #5558ee;
$mutedcolor: #a3a3a3;
$redcolor: #db566a;
$darkcolor: #4f4f4f;
$lightcolor: #f7f7f7;
$midGrey :#919191;
$lightGrey: #F2F2F2;
$darkGrey: #3B3B3B;
$fontsize: 14px;
$font-family-IRANSans: 'IRANSans';
$box-shadow : 0 4px 8px 0 $mutedcolor,
0 6px 20px 0 $mutedcolor;